*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100vh;
    background-color: blue;
}
.app-container{
    width: 100%;
    height: 100%;
    background-color: aqua;
}
.app-body{
    width: 100%;
    display: flex;
    /* flex-direction: row; */
}
.body-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.body-left{
    width: 100%;
    background-color: cadetblue;
}
.row{
    display: flex;
    flex-direction: column;
    row-gap: 0.26rem;
}
.body-right{
    width: 100%;
    background-color: chartreuse;
}